{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": true
  },
  "rules": {
    // overrides of the standard style
    "curly": [2, "all"],
    "max-len": [2, 100, 4],
    "semi": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "wrap-iife": [2, "outside"],
    // overrides of the standard-react style
    "react/jsx-sort-props": 2,
    "react/jsx-sort-prop-types": 2
  }
}
